* {
  font-family: "Metrophobic";
}

h1 {
  font-size: 60px;
}

body {
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  background-image: url("images/imac-off.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.header,
.stuff {
  align-items: center;
}

.header > h1 {
  margin-top: 2em;
  margin-bottom: 0.1em;
  color: white;
}

.header > h2 {
  margin-top: 0.1em;
  text-align: center;
  color: gainsboro;
}

.pages {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-flow: space-evenly;
  align-items: center;
}

.icon {
  width: 50px;
  height: fixed;
  padding: 1rem;
  border-bottom: 3px solid rgb(245, 245, 245);
  transition: 0.5s;
  opacity: 0.8;
}

.icon:hover {
  opacity: 1;
}

.resumeForm {
  margin-top: 2em;
}

.resumeButton {
  background-color: dodgerblue;
  color: azure;
  border: 2px solid dodgerblue;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 6px 0 rgba(0, 0, 0, 0.19);
  font-size: 20px;
  cursor: pointer;
}

.resumeButton:hover {
  background-color: azure;
  color: dodgerblue;
}
