<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Uzair Shamim" />

    {% if tags %}
        <meta name="description" content="{{ page.excerpt | truncate: 450, '...' | replace: '"', "'" }}">
    {% else %}
        <meta name="description" content="Uzair Shamim is a software developer passionate about HTML5, Javascript and .NET.">
    {% endif %}
    {% if tags %}
        <meta name="tags" content="{% for tag in tags %}{{ tag }}{% if forloop.last == false %}, {% endif %}{% endfor %}">
    {% endif %}
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap">
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
    <title>{{ "Pureooze - " |  append: title }}</title>
    {%- css %}{% include "css/style.css" %}{% endcss %}
    {%- css %}{% include "css/blog.css" %}{% endcss %}
    {%- css %}{% include "css/prism-diff.css" %}{% endcss %}
    <style>{% getBundle "css" %}</style>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-XLDBGRBD5M"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'G-XLDBGRBD5M');
    </script>
</head>
<body>
<div class="navbar">
	<div class="navbar-left">
		<a class="navbar-link" href="/">Home</a>
		<a class="navbar-link" href="/blog">Blog</a>
		<a class="navbar-link" href="/random">Random</a>
	</div>
	<div class="navbar-right">
		<a class="navbar-icon-link" href="https://github.com/pureooze/pureooze.github.io">
			{% assign iconPath = "img/" | append: "github-logo.webp" %}
			{% image iconPath "" "navbar-icon" %}
		</a>
	</div>
</div>
{{ content }}
</body>
</html>
