<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/css/blog.css?v=1" />
    <meta charset="UTF-8">
    <meta name="description" content="Uzair Shamim is a software developer passionate about HTML5, Javascript and .NET.">
    <meta name="author" content="Uzair Shamim" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap">
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <title>Uzair Shamim - Blog</title>
</head>
<body>
<div class="navbar">
    <a class="navbar-link" href="/">Home</a>
    <a class="navbar-link" href="/blog">Blog</a>
</div>
{{ content }}
</body>
</html>