<a class="rss-subscribe-link" href="feed.xml" >
	{% image "img/rss.png" "" "rss-subscribe-icon" %} subscribe via RSS
</a>
<ol reversed class="postlist">
{% for post in postslist reversed %}
	<li class="blog-post">
		<a href="{{ post.url }}" class="postlist-post-link">
			{% assign smallThumbnail = "img/" | append: post.data.small-thumbnail %}
			{% image smallThumbnail "" "postlist-post-thumbnail" %}
			<div class="postlist-post-content">
				<h2 class="postlist-post-title">{{ post.data.title }}</h2>
				<p class="postlist-post-author">Uzair Shamim</p>
				<time class="postlist-post-date">{{ post.date | date: "%d/%m/%Y" }}</time>
				<p class="postlist-post-excerpt">{{ post.page.excerpt  | truncate: 450, '...'}}</p>
			</div>
		</a>
	</li>
{% endfor %}
</ol>