<link rel="stylesheet" type="text/css" href="/css/blog.css?v=1" />
<ol reversed class="postlist">
{% for post in postslist reversed %}
	<div class="blog-post">
		<a href="{{ post.url }}" class="postlist-post-link">
			{% assign smallThumbnail = "img/" | append: post.data.small-thumbnail %}
			{% image smallThumbnail "" "postlist-post-thumbnail" %}
			<div class="postlist-post-content">
				<h2 class="postlist-post-title">{{ post.data.title }}</h2>
				<time class="postlist-post-date">{{ post.date | date: "%d/%m/%Y" }}</time>
				<p class="postlist-post-excerpt">{{ post.page.excerpt  | truncate: 450, '...'}}</p>
			</div>
		</a>
	</div>
{% endfor %}
</ol>