/*elements*/
html, body {
    margin: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

/* custom scrollbar */
::-webkit-scrollbar {
    width: 18px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: var(--pureooze-primary);
    border: 6px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--pureooze-accent);
}

blockquote {
    margin: 1em 0;
    padding: 0.5em 1em;
    border-left: 0.5em solid var(--pureooze-primary);
    background-color: rgba(var(--pureooze-primary-for-rgba), 0.1);
}

a {
    color: var(--pureooze-primary);
	font-weight: 500;
	text-decoration: underline;
	text-decoration-thickness: 2px;
}

a:hover {
    color: var(--pureooze-accent);
    text-decoration: underline;
	text-decoration-thickness: 2px;
}

h1 {
	font-size: 2.8rem;
}

h2 {
	font-size: 2.3rem;
	border-bottom: 1px solid rgba(var(--pureooze-primary-for-rgba), 0.2);
	padding-bottom: 0.25em;
	margin-top: 1em;
	margin-bottom: 0.5em;
}

.page-meta-wrapper h2 {
	font-size: 1.5rem;
	border-bottom: none;
}

h3 {
	font-size: 1.8rem;
}

h4 {
	font-size: 1.4rem;
}

h2, h3, h4 {
	font-weight: 600;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--pureooze-primary);
}

h1 + p, h2 + p, h3 + p, h4 + p, h5 + p, h6 + p {
    margin: 0 0;
}

p {
	font-size: 1.125rem;
	line-height: 1.75;
	/* margin-bottom: 1.5em; */
}

li {
	font-size: 1.1rem;
	line-height: 1;
	padding-bottom: 0.75rem;
}

pre,
code {
    font-family: var(--font-family-monospace);
}
pre:not([class*="language-"]) {
    padding: 1.5em;
    background: rgba(var(--pureooze-primary-for-rgba), 0.1);
    border-radius: 0.5em;
    overflow-x: auto;
	overflow-y: auto;
    margin: .5em 0;
    line-height: 1.375; /* 22px /16 */
    -moz-tab-size: var(--syntax-tab-size);
    tab-size: var(--syntax-tab-size);
    -webkit-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
    direction: ltr;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
}

details {
    background-color: var(--pureooze-light-mode-detail);
    border: 1px solid transparent;
    border-radius: 4px;
    width: auto;
}

details[open] {
    background-color: #fff;
}

details + details {
    margin-top: 1em;
}

summary {
    cursor: pointer;
    font-weight: bold;
    padding: 10px;
    background-color: #fff;
    border-radius: 4px;
    color: #333;
    border: 1px solid var(--pureooze-primary);
}

summary:hover {
    background-color: rgba(var(--pureooze-primary-for-rgba), 0.1);
    border: 1px solid var(--pureooze-primary);
}

summary::-webkit-details-marker {
    display: none;
}

p > code, li > code {
    background-color: rgba(var(--pureooze-primary-for-rgba), 0.1);
    padding: 0.1em 0.4em;
    border-radius: 4px;
    font-weight: 600;
    color: var(--pureooze-primary);
	font-size: 0.875em;
    border: 1px solid rgba(var(--pureooze-primary-for-rgba), 0.1);
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 0.5em;
}

/* Style for table headers */
thead tr {
    background-color: var(--pureooze-primary);
    color: var(--pureooze-secondary-text);
    text-align: left;
}

th, td {
    padding: 0.5em 1em;
    text-align: left;
    border: 1px solid var(--pureooze-primary);
}

tbody tr:nth-child(odd) {
    background-color: var(--pureooze-light-mode-primary);
}

figcaption{
    font-size: small;
    color: var(--pureooze-primary-text);
    text-align: center;
}

figure {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*classes*/
.header-anchor {
    text-decoration: none;
}

.blog-title {
    font-size: 3em;
    margin: 1em auto;
    align-self: center;
}

.blog-post {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 20px;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 30px;
    transition: transform 0.3s ease;
}

.postlist-post-link {
    text-decoration: none;
    color: var(--pureooze-primary-text);
    display: flex;
    align-items: center;
}

.postlist-post-link:hover {
    text-decoration: none;
    color: var(--pureooze-primary-text);
}

.postlist-post-thumbnail {
    width: 400px;
    height: 240px;
    object-fit: cover;
    border-radius: 1.5em;
    padding: 20px 20px 20px 20px;
}

.postlist-post-content {
    display: grid;
    grid-template-rows: auto auto 1fr;
}

.postlist-post-title {
    font-size: 1.5rem;
    color: var(--pureooze-primary);
    margin-bottom: 5px;
}

.postlist-post-author {
    font-size: 0.85em;
    color: var(--pureooze-primary-text);
    margin-bottom: 5px;
}

.postlist-post-date {
    font-size: 0.85em;
    color: var(--pureooze-primary-text);
}

.postlist-post-excerpt {
    color: var(--pureooze-primary-text);;
}

/* Hover effects */
.blog-post:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
    outline: 1px solid var(--pureooze-primary);
}

.page {
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    background-color: white;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
	justify-content: center;
	column-gap: 1em;
}

.page-content {
    display: flex;
    flex-direction: column;
    column-gap: 1em;
    margin: 1vh auto;
    max-width: 70%;
}

.page-content-wrapper {
	padding: 1em 1em 1em 1em;
	width: 75%;
}

.post-comment-wrapper {
	display: flex;
	flex-direction: column;
	row-gap: 1em;
}

.page-meta-wrapper {
	position: sticky;
    top: 1px;
    align-self: flex-start;
    height: 100%;
    overflow-y: auto;
	border-left: 1px solid var(--pureooze-detail);
	max-width: 25%;
}

.page-meta-wrapper > * {
	padding: 1em 0 0 1em;
}

.page-meta-wrapper > *:not(:first-child) {
    margin-top: 1rem;
}

.post-meta-me {
	display: flex;
	flex-direction: column;
	row-gap: 1em;
}

.post-avatar {
	height: 8em;
	width: 8em;
    max-height: 8em;
    border-radius: 50%;
    margin-right: auto;
    margin-left: auto;
    outline: 0.1em solid var(--pureooze-primary-text);
}

.rss-subscribe-link {
	background-color: var(--pureooze-primary);
    color: var(--pureooze-secondary-text);
    padding: 0.5em;
    border-radius: 5px;
    font-size: medium;
	text-decoration: none;
	display: inline-flex;
	flex-direction: row;
	align-items: center;
	column-gap: 0.5em;
	line-height: 1;
	margin: 0 auto;
}

.rss-subscribe-link:hover {
    cursor: pointer;
    color: var(--pureooze-secondary-text);
    outline: 3px solid black;
}

.rss-subscribe-icon {
	width: 1em;
	height: 1em;
	vertical-align: middle;
}

.toc-container {
    margin: 2em 0;
    padding: 0 1em;
}

.toc > ul {
    padding: 0;
}

.toc > ul * {
    list-style-type: none;
	text-decoration: none;
}

.post-title {
    font-size: xxx-large;
    font-weight: 600;
    margin: 0.2em 0;
}

.post-thumbnail {
    height: auto;
    border-radius: 5px;
    margin: auto;
	width: 100%;
	max-width: 1000px;
}

.post-tags {
    display: flex;
    flex-direction: row;
    column-gap: 0.5em;
	row-gap: 0.5em;
	flex-wrap: wrap;
}

.post-tag {
    background-color: var(--pureooze-primary);
    color: var(--pureooze-secondary-text);
    padding: 0.3em 0.3em 0.3em 0.3em;
    border-radius: 5px;
    font-size: small;
	text-decoration: none;
}

.post-tag:hover {
    cursor: pointer;
    color: var(--pureooze-secondary-text);
    text-decoration: none;
    outline: 3px solid black;
}

.post-image {
    display: flex;
    margin: auto;
    max-width: 100%;
    max-height: 60vh;
}

.post-wide-image {
    display: flex;
    margin: auto;
    width: 99vw;
    overflow: hidden;
}

.shiki {
    padding: 1em;
    overflow: scroll;
}

@media (max-width: 1024px) {
    :root {
        font-size: large;
    }
    
    html, body {
        width: 100%;
        height: 100%;
    }

    .page {
        width: 100vw;
        padding: 0;
    }

    .page-content {
        width: 90vw;
    }
    
    .postlist {
        padding: 0;
    }
    
    .postlist-post-thumbnail {
        width: 100%;
        height: 100%;
        padding: 1em;
    }
    
    .postlist-post-link {
        flex-direction: column;
    }
    
    .postlist-post-content {
        margin: 1em;
    }
    
    .post-thumbnail {
        height: 60vw;
        max-width: 100vw;
        object-fit: cover;
    }
}

@media (max-width: 1284px) {
    .page-meta-wrapper {
        display: none;
    }

    .page {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .page-content-wrapper {
        padding: 1em 1em 1em 1em;
		width: 95%;
    }
}