html, body {
    margin: 0;
    height: 100%;
}

:root {
    font-family: Anek Malayalam, Open Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: large;

    --font-family-monospace: Consolas, Menlo, Monaco, Andale Mono WT, Andale Mono, Lucida Console, Lucida Sans Typewriter, DejaVu Sans Mono, Bitstream Vera Sans Mono, Liberation Mono, Nimbus Mono L, Courier New, Courier, monospace;
    --syntax-tab-size: 2;
    font-weight: 600;

    /*colors*/
    --pureooze-light-mode-primary: #f2f2f2;
    --pureooze-primary: #26196f;
    --pureooze-primary-for-rgba: 38, 25, 111;
    --pureooze-primary-text: #000;
    --pureooze-secondary-text: white;
    --pureooze-accent: #9232D8FF;
    --pureooze-accent-light: #ac73d8;
}

h1 {
    font-size: 60px;
}

.homepage,
.page2,
.page3 {
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    flex-flow: column;
    align-items: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.homepage {
    background-image: url("../../images/mac-alone-2.jpg");
    height: 100%;
}

.page2 {
    height: 200px;
}

.avatar {
    align-self: center;
}

.avatar > img {
    max-height: 15em;
    border-radius: 50%;
    margin-right: auto;
    margin-left: auto;
    border: 0.1em solid black;
}

.header {
    display: flex;
    flex-direction: column;
    margin-top: 4em;
}

.header > h1 {
    margin-bottom: 0.1em;
    color: black;
    margin-top: 5px;
}

.header > h2 {
    margin-top: 0.1em;
    text-align: center;
    color: gray;
}

.header > h3 {
    margin-top: 0.1em;
    text-align: center;
    color: gray;
}

.pages {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: space-evenly;
    align-items: center;
}

.icon {
    width: 50px;
    height: fixed;
    padding: 1rem;
    border-bottom: 0.6em solid rgba(10, 10, 10, 0.38);
    transition: 0.3s;
    opacity: 0.8;
}

.icon-svg {
    height: 50px;
}

.icon:hover {
    opacity: 1;
    border-bottom: 0.6em solid var(--pureooze-primary);
    background-color: rgba(var(--pureooze-primary-for-rgba), 0.2);
}

.resumeForm {
    margin-top: 2em;
}

.resumeButton {
    background-color: rgba(10, 10, 10, 0.38);
    color: whitesmoke;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 6px 0 rgba(0, 0, 0, 0.19);
    font-size: 20px;
    padding: 0.3em 0.3em 0.3em 0.3em;
    cursor: pointer;
}

.resumeButton:hover {
    /*border: 0.1em solid rgba(146, 50, 216, 0.2);*/
    box-shadow: 0 4px 8px 0 rgba(146, 50, 216, 0.2), 0 3px 6px 0 rgba(var(--pureooze-primary-for-rgba), 0.2);
    background-color: var(--pureooze-primary);
}

.photo-credit {
    position: absolute;
    bottom: 8px;
    right: 16px;
    font-size: 12px;
}

.photo-credit-link {
    background-color: rgba(10, 10, 10, 0.38);
    color: white;
    text-decoration: none;
    padding: 4px 6px;
    font-family:'Anek Malayalam', -apple-system, "Helvetica Neue", Helvetica, Ubuntu, Roboto, Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
    line-height: 1.2;
    display: inline-block;
    border-radius: 3px;
}

.photo-credit-link:hover {
    /*border: 0.1em solid rgba(146, 50, 216, 0.2);*/
    box-shadow: 0 4px 8px 0 rgba(146, 50, 216, 0.2), 0 3px 6px 0 rgba(var(--pureooze-primary-for-rgba), 0.2);
    background-color: var(--pureooze-primary);
}

.arrow {
    box-sizing: border-box;
    height: 3vw;
    width: 3vw;
    border-style: solid;
    border-color: rgb(109, 121, 129);
    border-width: 0px 1px 1px 0px;
    transform: rotate(45deg);
    transition: border-width 150ms ease-in-out;
}

.arrow:hover {
    border-bottom-width: 4px;
    border-right-width: 4px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0e242d;
    height: 100vh;
}

.project-list {
    width: 80%;
}

.project-item:nth-child(odd) {
    float: left;
    clear: both;
    justify-content: left; /* align horizontal */
}

.project-item:nth-child(even) {
    float: right;
    clear: both;
    justify-content: right; /* align horizontal */
}

.project-item {
    display: flex;
    flex-direction: column;
    align-items: center; /* align vertical */
}

.project-heading {
    width: 90%;
    display: flex;
    justify-content: left;
    border-bottom: solid 1px rgb(109, 121, 129);
    margin-bottom: 10px;
}

.project-logo {
    width: 60px;
    height: fixed;
    padding: 1rem;
    transition: 0.5s;
}

.project-desc {
    width: 80%;

    display: flex;
    flex-direction: column;
}

.project-desc > img {
    padding-top: 20px;
    width: 500px;
}

.project-name {
}
