---
layout: layouts/base.liquid
title: "Random Stuff"
---

<div class="random-stuff">
	<h2>Things I Have Made</h2>
	<ul>
		<li><a href="https://github.com/pureooze/TwitchEverywhere">TwitchEverywhere</a> - A .NET library that allows connecting to Twitch</li>
		<li><a href="https://github.com/pureooze/SimpleTwitch">SimpleTwitch</a> - A .NET MAUI Blazor Hybrid app that allows you to watch Twitch streams</li>
		<li><a href="https://github.com/pureooze/DebtCollector.NET">DebtCollector.NET</a> - A .NET library that allows you to perform analysis on your code</li>
		<li><a href="https://github.com/pureooze/extension-testing-example">Browser Extension Testing</a> - Old, probably better modern solutions</li>
		<li><a href="https://github.com/pureooze/PodcastFeed">PodcastFeed</a> - Old, fun school project to build a podcast player using Qt with a team of three. Learned a lot about how to collaborate with others.</li>
	</ul>

	<h2>People Who I Think Are Cool</h2>
	Just some people whose work I have found interesting and learned from.
	Linking is not an endorsement of their views or opinions.

	<ul>
		<li><a href="https://dylanbeattie.net/">Dylan Beattie</a></li>
		<li><a href="https://michaelfeathers.substack.com/">Michael Feathers</a></li>
		<li><a href="https://www.adamtornhill.com/">Adam Tornhill</a></li>
		<li><a href="https://higherorderlogic.com/">Steve Freeman</a></li>
		<li><a href="https://kevlinhenney.medium.com/">Kevlin Henney</a></li>
		<li><a href="https://www.hanselman.com/">Scott Hanselman</a></li>
	</ul>
</div>